/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3592437 */
  src: url('http://at.alicdn.com/t/c/font_3592437_x1r9mxdjahh.woff2?t=1661335973149') format('woff2'),
       url('http://at.alicdn.com/t/c/font_3592437_x1r9mxdjahh.woff?t=1661335973149') format('woff'),
       url('http://at.alicdn.com/t/c/font_3592437_x1r9mxdjahh.ttf?t=1661335973149') format('truetype');
}
      
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fuzhi:before {
    content: "\e60d";
  }
  
  .icon-youxiang:before {
    content: "\e687";
  }
  
  .icon-shouhuodizhiyebianji:before {
    content: "\e645";
  }
  
  .icon-zujian-shoujihao:before {
    content: "\e608";
  }
  
  .icon-gou:before {
    content: "\e61e";
  }
  
  .icon-lianjiewangzhiwangzhan:before {
    content: "\e61f";
  }
  
  
  